<h1 class="display-5 fw-bold">Vista de productos (usando Handlebars)</h1>
<div >  
    {{#if listExist}}
    <table class="table table-dark table-striped">
        <thead >
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Imagen</th>
        </thead>
        <tbody>
            {{#each listExist}}
            <tr class="table-dark">
                <td class="table-dark">{{this.id}}</td>
                <td class="table-dark">{{this.title}}</td>
                <td class="table-dark">{{this.price}}</td>
                <td class="table-dark"><img src="{{this.thumbnail}}" height="48px"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <h2 class="fw-bold">No hay productos</h2>
    {{/if}}
</div>
<a class="btn btn-secondary mx-3" href='../'>Ir al formulario de carga</a> 