<div class="card mb-3" style="max-width: 680px;">
  <div class="row g-0">
    <div class="col-md-4" style="margin: auto;">
      <img src="{{avatarSend}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fw-bold">Informacion de Usuario</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nombre y Apellido: {{userSend}}</li>
          <li class="list-group-item">Edad: {{ageSend}}</li>
          <li class="list-group-item">Email: {{mailSend}}</li>
          <li class="list-group-item">Direccion: {{addresSend}}</li>
          <li class="list-group-item">Telefono: {{phoneSend}}</li>
		    </ul>
      </div>
    </div>
  </div>
</div>